body{
    margin:0;
    padding:0;
    background-image: url('Steve.png');
    background-size: cover;
}

nav{
    background-color:orange;
    font-size: 28px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-around;
}

nav li{
    display:inline-block;
    margin:0 8px;
}

@media all and (max-width:640px){
    nav{
        flex-direction: column;
    }

    nav li{
        display:block;
        padding:10px 0;
    }
    ul{
        text-align: center;
        padding:0;
        display:none;
    }
    
}
